{% extends "layout.html" %}

{% block body %}

	<h4 class="text-white">
		Filter deadlines
	</h4>

	<table class="table table-dark">
		<form class="form-group text-white" method="POST" action"{{ url_for('deadlines_index') }}">
			<tr>
				<th>
					<p>
						Order by date
					</p>
				</th>
				<th>
					{{ category_filter_form.category.label }}
				</th>
				<th>
					{{ category_filter_form.priority.label }}
				</th>
				<th>
					<p>
						Category priority
					</p>
				</th>
			</tr>
			<tr>
				<th>
					{{ category_filter_form.date_order }}
				</th>
				<th>
					{{ category_filter_form.category }}
				</th>
				<th>
					{{ category_filter_form.priority }}
				</th>
				<th>
					{{ category_filter_form.categorypriority }}
				</th>
				<th>
					<input type="submit" value="Apply">
				</th>
			</form>
		</tr>
	</table>


	{% for error in deadline_name_form.name.errors %}
	<p class="text-white">	
		{{ error }}
	</p>
	{% endfor %}

	{% for error in category_form.category.errors %}
	<p class="text-white">	
		{{ error }}
	</p>
	{% endfor %}

	<table class="table table-dark">
		<tr>
			<th>Name</th>
			<th>Deadline</th>
			<th>Priority</th>
			<th>Status</th>
		</tr>
		{% for deadline in deadlines  %}
		<tr>
			<td>{{ deadline.name }}</td>
			<td>{{ deadline.date_time }}</td>
			<!-- This should display "normal", "urgent" etc. How to? -->
			<!-- <td>{{ deadline.priority }}</td> -->
			
			{% if deadline.priority == 1 %}
			<td> Optional </td>
			{% elif deadline.priority == 2 %}
			<td> Normal </td>
			{% elif deadline.priority == 3 %}
			<td> Urgent </td>
			{% else %}
			<td> - </td>
			{% endif %}
			

			<!--<td>{{ deadline.done }}</td> -->
			{% if deadline.done %}
			<td>
				<form method="POST" action="{{ url_for('set_deadline_undone', deadline_id=deadline.id) }}">
					<input type="submit" value="Completed"/>
				</form>
			</td>
			{% else %}
			<td>
				<form method="POST" action="{{ url_for('set_deadline_done', deadline_id=deadline.id) }}">
					<input type="submit" value="To do"/>
				</form>
			</td>
			{% endif %}
			<td>
				<form method="POST" action="{{ url_for('delete_deadline', deadline_id=deadline.id) }}">
					<input type="submit" value="Delete"/>
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('rename_deadline', deadline_id=deadline.id) }}">
					<input type="submit" value="Rename"/>
					{{ deadline_name_form.name }}
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('deadline_add_category', deadline_id=deadline.id) }}">
					<input type="submit" value="Add category"/>
					{{ category_form.category }}
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('deadline_delete_category', deadline_id=deadline.id) }}">
					<input type="submit" value="Delete category"/>
					{{ category_form.category }}
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
