{% extends "layout.html" %}

{% block body %}
	<table>
		<tr>
			<th>Name</th>
			<th>Deadline</th>
			<th>Completed</th>
		</tr>
		{% for deadline in deadlines %}
		<tr>
			<td>{{ deadline.name }}</td>
			<td>{{ deadline.date_to_complete }}</td>
			<td>{{ deadline.done }}</td>
			<td>
				<form method="POST" action="{{ url_for('set_deadline_done', deadline_id=deadline.id) }}">
					<input type="submit" value="Set as completed"/>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
