{% extends "layout.html" %}

{% block body %}
<form class="form-group text-white"  method="POST" action="{{ url_for('deadlines_create') }}">
	{% for error in form.name.errors %}
	<li>
		{{ error }}
	</li>
	{% endfor %}
	{% for error in form.category.errors %}
	<li>
		{{ error }}
	</li>
	{% endfor %}
	{{ form.name.label }}<br>
	{{ form.name }}<br>
	{{ form.date.label }}<br>
	{{ form.date }}<br>
	{{ form.hour.label }}<br>
	{{ form.hour }}
	{{ form.minute }}<br>
	{{ form.priority.label}}<br>
	{{ form.priority }}<br>
	{{ form.category.label}}<br>
	{{ form.category }}<br>
	<br>
	<input type="submit" value="Add a new deadline"/>
</form>
{% endblock %}
