{% extends "layout.html" %}

{% block body %}
<body class="text-center table-center">
	<form class="form-sigin" method="POST" action="{{ url_for('auth_registration') }}">
		<h1 class="h3 mb-3 font-weigth-normal text-white">Register</h1>
			<p class="text-white">
				{{ error }}
			</p>
			<p>
				{{ form.username(placeholder="username") }}
			</p>
			<p>
				{% for error in form.username.errors %}
				<li class="text-white">
					{{ error }}
				</li>
				{% endfor %}
			</p>
			<p>
				{{ form.password(placeholder="password") }}
			</p>
			<p>
				{% for error in form.password.errors %}
				<li class="text-white">
					{{ error }}
				</li>
				{% endfor %}
			</p>
			<p>
				{{ form.passwordagain(placeholder="confirm password") }}
			</p>
			<p>
				{% for error in form.passwordagain.errors %}
				<li class="text-white">
					{{ error }}
				</li>
				{% endfor %}
			</p>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
</body>
{% endblock %}
