{% extends "layout.html" %}

{% block body %}

	{% for error in nameForm.name.errors %}
	<li class="text-white">
		{{ error }}
	</li>
	{% endfor %}

	<table class="table table-dark">
		<tr>
			<th>Category</th>
			<th>Priority</th>
			<th>Deadlines</th>
			<th>Next deadline</th>
		</tr>
		{% for category in categories %}
		<tr>
			<td>{{ category.name }}</td>
			{% if category.priority == 1 %}
			<td> Optional </td>
			{% elif category.priority == 2 %}
			<td> Normal </td>
			{% elif category.priority == 3 %}
			<td> Urgent </td>
			{% else %}
			<td> - </td>
			{% endif %}

			<td>{{ category.get_deadline_count(category.id) }}</td>
			<td>{{ category.get_next_deadline(category.id) }}</td>
			<td>
				<form class="text-white" method="POST" action="{{ url_for('categories_set_priority', category_id = category.id) }}">
					<input type="submit" value="Set priority" />
					{{ prioForm.priority }}
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}">
					<input type="submit" value="Delete"/>
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('rename_category', category_id=category.id) }}">
					<input type="submit" value="Rename"/>
					{{ nameForm.name }}
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
