{% extends "layout.html" %}

{% block body %}
	<table class="table table-dark">
		<tr>
			<th>Category</th>
			<th>Priority</th>
			<th>Deadlines</th>
		</tr>
		{% for category in categories %}
		<tr>
			<td>{{ category.name }}</td>
			{% if category.priority == 1 %}
			<td> Optional </td>
			{% elif category.priority == 2 %}
			<td> Normal </td>
			{% elif category.priority == 3 %}
			<td> Urgent </td>
			{% else %}
			<td> - </td>
			{% endif %}

			<td>{{ category.get_deadline_count(category.id) }}</td>
			<!-- TODO: buttons to rename, delete and set priority-->
			<td>
				<form class="text-white" method="POST" action="{{ url_for('categories_set_priority', category_id = category.id) }}">
					<input type="submit" value="Set priority" />
					{{ prioForm.priority }}
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
